<page-header titulo="Regiões de Desenvolvimento"></page-header>

<div class="actions clearfix">
  <a href="/regioes_desenvolvimento/novo" class="btn btn-primary pull-right">Criar Região de Desenvolvimento</a>
</div>

<div ng-include="'regioes_desenvolvimento/filter.html'"></div>

<div ng-show="regioesDesenvolvimento.length">
  <pagination page="page" query-cache="queryCache" submeter-pesquisa="submeterPesquisa" />

  <div class="panel panel-default">
    <div class="panel-heading">Regiões de Desenvolvimento</div>
    <table class="table table-striped data-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ativo</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr id="regiao_desenvolvimento_{{regiaoDesenvolvimento.id}}" class="regiao_desenvolvimento" ng-repeat="regiaoDesenvolvimento in regioesDesenvolvimento">
          <td>{{regiaoDesenvolvimento.nome}}</td>
          <td class="regiao_desenvolvimento_ativo"><span yes-no="regiaoDesenvolvimento.ativo"></span></td>
          <td><a class="btn btn-info" ng-href="/regioes_desenvolvimento/{{regiaoDesenvolvimento.id}}/editar"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
