<div class="page-header clearfix">
  <h2>Bem Vindo ao GSAN Online</h2>
  <%= image_tag "cidades.png", class: "page-header-right hidden-sm hidden-xs" %>
</div>

<section id="modulos" class="row">
  <article class="col-md-3 col-sm-4" ng-repeat="modulo in modulos">
    <div class="panel panel-default" ng-class="{disabled: !modulo.url}" ng-click="navigarPara(modulo.url)">
      <div>
        <h1><i class="fa fa-{{modulo.icone}}"></i></h1>
        <h2>{{modulo.titulo}}</h2>
      </div>
    </div>
  </article>
</section>
