<form-errors form-errors="$parent.formErrors"></form-errors>

<form ng-submit="submeter()" class="form-horizontal" name="form" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">Dados</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="esfera_poder_descricao" class="control-label col-md-3">Descrição <span class="required">*</span></label>
        <div class="col-md-8">
          <input id="esfera_poder_descricao" ng-model="esfera_poder.descricao" type="text" class="form-control" required maxlength="30">
        </div>
      </div>

      <div class="form-group">
        <label for="esfera_poder_permite_gerar_certidao_negativa_imovel" class="control-label col-md-3">Permite gerar certidão negativa para imóvel <span class="required">*</span></label>
        <div class="col-md-8">
          <div id="esfera_poder_permite_gerar_certidao_negativa_imovel" class="btn-group">
            <a href class="btn btn-primary" ng-click="esfera_poder.permite_gerar_certidao_negativa_imovel = 1" ng-class="{ 'active' : esfera_poder.permite_gerar_certidao_negativa_imovel == 1 }">Sim</a>
            <a href class="btn btn-primary" ng-click="esfera_poder.permite_gerar_certidao_negativa_imovel = 2" ng-class="{ 'active' : esfera_poder.permite_gerar_certidao_negativa_imovel == 2 }">Não</a>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="esfera_poder_permite_gerar_certidao_negativa_cliente" class="control-label col-md-3">Permite gerar certidão negativa para cliente <span class="required">*</span></label>
        <div class="col-md-8">
          <div id="esfera_poder_permite_gerar_certidao_negativa_cliente" class="btn-group">
            <a href class="btn btn-primary" ng-click="esfera_poder.permite_gerar_certidao_negativa_cliente = 1" ng-class="{ 'active' : esfera_poder.permite_gerar_certidao_negativa_cliente == 1 }">Sim</a>
            <a href class="btn btn-primary" ng-click="esfera_poder.permite_gerar_certidao_negativa_cliente = 2" ng-class="{ 'active' : esfera_poder.permite_gerar_certidao_negativa_cliente == 2 }">Não</a>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="esfera_poder_ativo" class="control-label col-md-3">Ativo</label>
        <div class="col-md-8">
          <input id="esfera_poder_ativo" type="checkbox" ng-model="esfera_poder.ativo" ng-true-value="1" ng-false-value="2">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <input type="submit" value="Salvar Esfera de Poder" class="btn btn-primary" ng-disabled="form.$invalid">
    </div>
  </div>
</form>
