<div ng-include="'shared/breadcrumbs.html'"></div>
<div class="alert alert-success" ng-show="flash.getMessage()">{{flash.getMessage()}}</div>

<header class="with-actions">
  <h1>Logradouros</h1>

  <nav class="actions">
    <a href="/logradouros/novo" class="btn btn-primary">Criar Logradouro</a>
  </nav>
</header>

<div ng-include="'logradouros/filter.html'"></div>

<div ng-show="logradouros.length">
  <pagination page="page" query-cache="queryCache" submeter-pesquisa="submeterPesquisa" />

  <div class="panel panel-default">
    <div class="panel-heading">Logradouros</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Município</th>
          <th>Código do Logradouro</th>
          <th>Nome do Logradouro</th>
          <th>Título do Logradouro</th>
          <th>Tipo do Logradouro</th>
          <th>Ativo</th>
        </tr>
      </thead>
      <tbody>
        <tr id="logradouro_{{logradouro.id}}" class="logradouro" ng-repeat="logradouro in logradouros">
          <td>{{logradouro.municipio.nome}}</td>
          <td>{{logradouro.id}}</td>
          <td>{{logradouro.nome}}</td>
          <td>{{logradouro.titulo_logradouro.descricao}}</td>
          <td>{{logradouro.tipo_logradouro.descricao}}</td>
          <td class="logradouro_ativo"><span yes-no="logradouro.ativo"></span></td>
          <td><a class="btn btn-info" ng-href="/logradouros/{{logradouro.id}}/editar">Editar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
