<div class="alert alert-danger" ng-show="formErrors">
  <button ng-click="formErrors = undefined" class="close" aria-label="Close" type="button">
    <span aria-hidden="true">×</span>
  </button>
  <ul>
    <li ng-repeat="erro in formErrors.errors">{{erro}}</li>
  </ul>
</div>

<form class="">
  <div class="form-group">
    <label for="tipo_logradouro">Tipo do logradouro <span class="required">*</span></label>
    <select id="tipo_logradouro" ng-model="logradouro.tipo_logradouro" class="form-control" required>
      <option value="">Selecione um tipo de logradouro</option>
      <option ng-repeat="tipo in tipo_logradouros">{{tipo.descricao}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="titulo_logradouro">Título do logradouro <span class="required">*</span></label>
    <select id="titulo_logradouro" ng-model="logradouro.titulo_logradouro" class="form-control" required>
      <option value="">Selecione um tipo de logradouro</option>
      <option ng-repeat="tipo in titulo_logradouros">{{tipo.descricao}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="nome_logradouro" class="control-label">Nome do Logradouro</label>
    <input type="text" class="form-control" id="nome_logradouro" placeholder="Nome do logradouro">
  </div>

  <div class="form-group">
    <label for="nome_popular_logradouro" class="control-label">Nome Popular</label>
    <input type="text" class="form-control" id="nome_popular_logradouro" placeholder="Nome popular">
  </div>

  <div class="form-group">
    <label for="minicipios" class="control-label">Município</label>
    <ui-select ng-model="logradouro.municipio"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false"
             title="Choose an address"
             ng-disabled="false"
             on-select="atualizaBairros()"
             id="municipios">
      <ui-select-match placeholder="Digite o nome de um município">{{logradouro.municipio.nome}}</ui-select-match>
      <ui-select-choices repeat="municipio in municipios | filter:{nome: $select.search}">
        {{municipio.nome}} | {{municipio.uf.descricao}}
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Adicionar bairros</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="bairros">Bairro</label>
        <select id="Bairros" ng-model="bairro" class="form-control" ng-disabled="!bairros.length" ng-change="adicionaBairro()" ng-options="bairro.nome for bairro in bairros">
        </select>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <div class="pull-left">Bairros selecionados</div>
          <div class="pull-right">total: {{logradouro.bairros.length}}</div>
        </div>

        <div class="table-scroll">
          <table class="table table-hover">
            <tbody>
              <tr ng-repeat="bairro in logradouro.bairros">
                <td>{{bairro.nome}}</td>
                <td width="5"><a href="" ng-click="removeBairro(bairro)" class="btn btn-warning">X</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Adicionar CEP(s)</div>
    <div class="panel-body">
      <div class="form-group">
        <div class="input-group col-md-3">
          <input type="text" id="codigo_cep" class="form-control" ng-model="cep.pesquisa" placeholder="Pesquisar CEP" />
          <span class="input-group-btn">
            <button class="btn btn-info" type="button" ng-click="adicionarCEP()">Go!</button>
          </span>
        </div>
        <span class="help-block" style="color: #AA4C4C">{{cep.resultado}}</span>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">CEPs selecionados</div>

        <div class="table-scroll">
          <table class="table table-hover">
            <tbody>
              <tr ng-repeat="cep in logradouro.ceps">
                <td>{{cep.codigo}}</td>
                <td>{{cep.uf}}</td>
                <td>{{cep.municipio}}</td>
                <td>{{cep.bairro}}</td>
                <td>{{cep.tipo_logradouro}} {{cep.logradouro}}</td>
                <td width="5"><a href="" ng-click="removerCEP(cep)" class="btn btn-warning">X</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">SAlvar</button>
  </div>
</form>