<form-errors form-errors="$parent.formErrors"></form-errors>

<form ng-submit="submeter()" class="form-horizontal" name="form" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">Dados do município</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="municipio_codigo_ibge" class="control-label col-md-3">Código IBGE <span class="required">*</span></label>
        <div class="col-md-2">
          <input id="municipio_codigo_ibge" ng-model="municipio.codigo_ibge" class="form-control col-md-3" required>
        </div>
      </div>

      <div class="form-group">
        <label for="municipio_nome" class="control-label col-md-3">Nome <span class="required">*</span></label>
        <div class="col-md-6">
          <input id="municipio_nome" ng-model="municipio.nome" class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="municipio_ddd" class="control-label col-md-3">DDD <span class="required">*</span></label>
        <div class="col-md-2">
          <input type="number" id="municipio_ddd" ng-model="municipio.ddd" class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="municipio_cep_inicial" class="control-label col-md-3">CEP Inicial</label>
        <div class="col-md-3">
          <input id="municipio_cep_inicial" ng-model="municipio.cep_inicial" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="municipio_cep_final" class="control-label col-md-3">CEP Final</label>
        <div class="col-md-3">
          <input id="municipio_cep_final" ng-model="municipio.cep_final" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="municipio_uf_id" class="control-label col-md-3">Unidade de Federação <span class="required">*</span></label>
        <div class="col-md-4">
          <select id="municipio_uf_id" ng-model="municipio.uf_id" class="form-control" required>
            <option value="">Selecione a Unidade de Federação</option>
            <option ng-repeat="uf in unidade_federacoes" value="{{uf.id}}" ng-selected="municipio.uf_id === uf.id">{{uf.sigla}} - {{uf.descricao}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="municipio_micro_regiao_id" class="control-label col-md-3">Micro região <span class="required">*</span></label>
        <div class="col-md-4">
          <select id="municipio_micro_regiao_id" ng-model="municipio.micro_regiao_id" class="form-control" required>
            <option value="">Selecione a micro região</option>
            <option ng-repeat="micro_regiao in micro_regioes" value="{{micro_regiao.id}}" ng-selected="municipio.micro_regiao_id == micro_regiao.id">{{micro_regiao.nome}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="municipio_regiao_desenvolvimento_id" class="control-label col-md-3">Região de desenvolvimento <span class="required">*</span></label>
        <div class="col-md-4">
          <select id="municipio_regiao_desenvolvimento_id" ng-model="municipio.regiao_desenvolvimento_id" class="form-control" required>
            <option value="">Selecione a região de desenvolvimento</option>
            <option ng-repeat="regiao in regioes_desenvolvimento" value="{{regiao.id}}" ng-selected="municipio.regiao_desenvolvimento_id == regiao.id">{{regiao.nome}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="municipio_ativo" class="control-label col-md-3">Ativo</label>
        <div class="col-md-3">
          <input id="municipio_ativo" type="checkbox" ng-model="municipio.ativo" ng-true-value="1" ng-false-value="2">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <submit-button value="'Salvar Município'" form="form"></submit-button>
    </div>
  </div>
</form>
