<div class="alert alert-success" ng-show="flash.getMessage()">{{flash.getMessage()}}</div>

<header class="with_actions">
  <h1>Municípios</h1>

  <nav class="actions">
    <a href="/municipios/novo" class="btn btn-primary">Criar Município</a>
  </nav>
</header>

<div ng-include="'municipios/filter.html'"></div>

<div ng-show="municipios.length">
  <pagination page="page" query-cache="queryCache" submeter-pesquisa="submeterPesquisa" />

  <div class="panel panel-default">
    <div class="panel-heading">Municípios</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Código IBGE</th>
          <th>Nome</th>
          <th>UF</th>
          <th>DDD</th>
          <th>Micro Região</th>
          <th>Região de Desenvolvimento</th>
          <th>CEP inicial</th>
          <th>CEP final</th>
          <th>Ativo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr id="municipio_{{municipio.id}}" class="municipio" ng-repeat="municipio in municipios">
          <td>{{municipio.codigo_ibge}}</td>
          <td>{{municipio.nome}}</td>
          <td>{{municipio.uf.sigla}}</td>
          <td>{{municipio.ddd}}</td>
          <td>{{municipio.micro_regiao.nome}}</td>
          <td>{{municipio.regiao_desenvolvimento.nome}}</td>
          <td>{{municipio.cep_inicial}}</td>
          <td>{{municipio.cep_final}}</td>
          <td class="municipio_ativo"><span yes-no="municipio.ativo"></span></td>
          <td><a class="btn btn-info" ng-href="/municipios/{{municipio.id}}/editar">Editar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
