<form-errors form-errors="$parent.formErrors"></form-errors>

<form ng-submit="submeter()" class="form-horizontal" name="form" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">Dados</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="logradouro_titulo_descricao" class="control-label col-md-3">Descrição <span class="required">*</span></label>
        <div class="col-md-8">
          <input id="logradouro_titulo_descricao" ng-model="logradouro_titulo.descricao" type="text" class="form-control"  maxlength="25" required>
        </div>
      </div>

      <div class="form-group">
        <label for="logradouro_titulo_descricao_abreviada" class="control-label col-md-3">Descrição abreviada<span class="required">*</span></label>
        <div class="col-md-8">
          <input id="logradouro_titulo_descricao_abreviada" ng-model="logradouro_titulo.descricao_abreviada" type="text" class="form-control" maxlength="5" required>
        </div>
      </div>

      <div class="form-group">
        <label for="logradouro_titulo_descricao_abreviada_completa" class="control-label col-md-3">Descrição abreviada completa</label>
        <div class="col-md-8">
          <input id="logradouro_titulo_descricao_abreviada_completa" ng-model="logradouro_titulo.descricao_abreviada_completa" type="text" class="form-control" maxlength="13">
        </div>
      </div>

      <div class="form-group">
        <label for="logradouro_titulo_ativo" class="control-label col-md-3">Ativo</label>
        <div class="col-md-8">
          <input id="logradouro_titulo_ativo" type="checkbox" ng-model="logradouro_titulo.ativo" ng-true-value="1" ng-false-value="2">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <input type="submit" value="Salvar Título de Logradouro" class="btn btn-primary" ng-disabled="form.$invalid">
    </div>
  </div>
</form>
