<nav ng-controller="NavController" class="container">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: ceps}">
      <a href="/ceps">CEPs</a>
    </li>
    <li role="presentation" ng-class="{active: municipios}">
      <a href="/municipios">Municípios</a>
    </li>
  </ul>
</nav>
