<nav ng-controller="NavController">
  <ul class="nav nav-sidebar">
    <li><a href="/ceps">CEPs</a></li>
    <li><a href="/municipios">Municípios</a></li>
    <li><a href="/bairros">Bairros</a></li>
    <li><a href="/logradouros">Logradouros</a></li>
    <li><a href="/micro_regioes">Micro Regiões</a></li>
    <li><a href="/regioes">Regiões</a></li>
    <li><a href="/regioes_desenvolvimento">Regiões de Desenvolvimento</a></li>
    <li><a href="/clientes">Clientes</a></li>
  </ul>
</nav>
