<nav ng-controller="NavController">
  <div class="list-group">
    <a  href="/{{item.id}}"
        ng-repeat="item in grupos"
        class="list-group-item"
        ng-class="{'active': item.id == states.activeItem}">
      {{item.title}}
    </a>
  </div>
</nav>
