<form-errors form-errors="$parent.formErrors"></form-errors>

<form ng-submit="submeter()" class="form-horizontal" name="form" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">Dados da Micro Região</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="micro_regiao_nome" class="control-label col-md-3">Nome <span class="required">*</span></label>
        <div class="col-md-6">
          <input id="micro_regiao_nome" ng-model="microRegiao.nome" class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="micro_regiao_regiao_id" class="control-label col-md-3">Região <span class="required">*</span></label>
        <div class="col-md-4">
          <select id="micro_regiao_regiao_id" ng-model="microRegiao.regiao_id" class="form-control" required>
            <option value="">Selecione a região</option>
            <option ng-repeat="regiao in regioes" value="{{regiao.id}}" ng-selected="microRegiao.regiao.id === regiao.id">{{regiao.nome}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="micro_regiao_ativo" class="control-label col-md-3">Ativo</label>
        <div class="col-md-3">
          <input id="micro_regiao_ativo" type="checkbox" ng-model="microRegiao.ativo" ng-true-value="1" ng-false-value="2">
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <input type="submit" value="Salvar Micro Região" class="btn btn-primary" ng-disabled="form.$invalid">
    </div>
  </div>
</form>
