<div class="panel panel-default panel-filter">
  <form ng-submit="pesquisar()" class="form-inline">
    <div class="panel-body">
      <div class="form-group">
        <input id="regiao_nome" ng-model="query.nome" type="text" class="form-control" placeholder="Nome">
      </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-left">
        <button class="btn btn-primary" ng-disabled="queryVazia() || loading">Pesquisar</button>
        <span ng-show="loading"><%= image_tag "spinner.gif" %></span>
      </div>

      <div class="pull-right" ng-show="regioes.length">Total de resultados: {{page.total}}</div>
    </div>
  </form>
</div>
