<div class="form-group">
  <label for="cliente_cpf">CPF <span class="required">*</span></label>
  <input id="cliente_cpf" ng-model="cliente.cpf" class="form-control" ng-required="pessoaTipo == 2">
</div>

<div class="form-group">
  <label for="cliente_rg">RG</label>
  <input id="cliente_rg" ng-model="cliente.rg" class="form-control">
</div>

<div class="form-group">
  <label for="cliente_data_emissao_rg">Data de emissão</label>
  <input id="cliente_data_emissao_rg" ng-model="cliente.data_emissao_rg" class="form-control">
</div>

<div class="form-group">
  <label for="cliente_rg">RG</label>
  <input id="cliente_rg" ng-model="cliente.rg" class="form-control">
</div>

<div class="form-group">
  <label for="orgao_emissor_rg_id">Órgão expedidor</label>
  <select id="orgao_emissor_rg_id" ng-model="cliente.orgao_emissor_rg_id" class="form-control">
    <option value="">Selecione um órgão expedidor...</option>
    <option ng-repeat="orgao in orgaosExpedidoresRg" value="{{orgao.id}}" ng-selected="cliente.orgao_emissor_rg_id == orgao.id">{{orgao.descricao}}</option>
  </select>
</div>

<div class="form-group">
  <label for="orgao_emissor_rg_id">Estado</label>
  <select id="orgao_emissor_uf_id" ng-model="cliente.orgao_emissor_uf_id" class="form-control">
    <option value="">Selecione o Estado do órgão de expedição...</option>
    <option ng-repeat="uf in unidadeFederacoes" value="{{orgao.id}}" ng-selected="cliente.orgao_emissor_uf_id == uf.id">{{uf.descricao}} - {{uf.sigla}}</option>
  </select>
</div>

<div class="form-group">
  <label for="cliente_profissao_id">Profissão</label>

  <ui-select ng-model="cliente.profissao"
           theme="bootstrap"
           reset-search-input="false"
           title="Escolha um município"
           ng-selected="cliente.profissao_id = cliente.profissao.id">
    <ui-select-match placeholder="Selecione uma profissão...">{{cliente.profissao.descricao}}</ui-select-match>
    <ui-select-choices repeat="profissao in profissoes | filter:{descricao: $select.search}">
      {{profissao.descricao}}
    </ui-select-choices>
  </ui-select>

  <h1>Sexo</h1>
</div>
