<div ng-include="'shared/form_errors.html'"></div>

<form ng-submit="submeter()" class="form-horizontal" name="form" novalidate>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Nome e tipo</h3>
    </div>
    <div class="panel-body">
      <div ng-include="'clientes/form/form_nome.html'"></div>
    </div>
  </div>

  <div class="panel panel-default" ng-show="cliente.pessoa_tipo == 1">
    <div class="panel-heading">
      <h3 class="panel-title">Pessoa Física</h3>
    </div>
    <div class="panel-body">
      <div id="pessoa_fisica" ng-include="'clientes/form/form_pessoa_fisica.html'"></div>
    </div>
  </div>

  <div class="panel panel-default" ng-show="cliente.pessoa_tipo == 2">
    <div class="panel-heading">
      <h3 class="panel-title">Pessoa Jurídica</h3>
    </div>
    <div class="panel-body">
      <div id="pessoa_juridica" ng-include="'clientes/form/form_pessoa_juridica.html'"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Endereços</h3>
    </div>
    <div class="panel-body">
      <div ng-include="'clientes/form/form_enderecos.html'"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Telefones</h3>
    </div>
    <div class="panel-body">
    </div>
  </div>

  <input type="submit" value="Salvar Cliente" class="btn btn-primary" ng-disabled="form.$invalid">
</form>
