<page-header titulo="Clientes"></page-header>

<div class="actions clearfix">
  <a href="/clientes/novo" class="btn btn-primary pull-right">Criar Cliente</a>
</div>

<filter-resource src="'clientes/filter.html'" filter-options="filterOptions" submeter-pesquisa="submeterPesquisa" query-cache="queryCache" page="page"></filter-resource>

<div ng-show="clientes.length">
  <pagination page="page" query-cache="queryCache" submeter-pesquisa="submeterPesquisa" />

  <div class="panel panel-default">
    <div class="panel-heading">Clientes</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CNPJ</th>
          <th>CPF</th>
          <th>Ativo</th>
        </tr>
      </thead>
      <tbody>
        <tr id="cliente_{{cliente.id}}" class="cliente" ng-repeat="cliente in clientes">
          <td>{{cliente.nome}}</td>
          <td>{{cliente.cnpj}}</td>
          <td>{{cliente.cpf}}</td>
          <td class="cliente_ativo"><span yes-no="cliente.ativo"></span></td>
          <td><a class="btn btn-info" ng-href="/clientes/{{cliente.id}}/editar"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
