<div ng-include="'shared/form_errors.html'"></div>

<form ng-submit="submeter()" name="form" novalidate>
  <div class="form-group">
    <label for="minicipios" class="control-label">Município <span class="required">*</span></label>
    <ui-select ng-model="bairro.municipio"
             theme="bootstrap"
             ng-disabled="disabled"
             reset-search-input="false"
             title="Selecione um Município"
             ng-disabled="false"
             required
             on-select="atualizaMunicipioId()"
             id="municipios">
      <ui-select-match placeholder="Digite o nome de um município">{{bairro.municipio.nome}} | {{bairro.municipio.uf.descricao}}</ui-select-match>
      <ui-select-choices repeat="municipio in municipios | filter:{nome: $select.search}">
        {{municipio.nome}} | {{municipio.uf.descricao}}
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <label for="bairro_codigo">Código <span class="required">*</span></label>
    <input id="bairro_codigo" ng-model="bairro.codigo" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="bairro_nome">Nome <span class="required">*</span></label>
    <input id="bairro_nome" ng-model="bairro.nome" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="bairro_codigo_prefeitura">Código na Prefeitura</label>
    <input id="bairro_codigo_prefeitura" ng-model="bairro.codigo_prefeitura" class="form-control">
  </div>

  <div class="form-group">
    <label for="bairro_ativo">
    <input id="bairro_ativo" type="checkbox" ng-model="bairro.ativo" ng-true-value="1" ng-false-value="2"> Ativo</label>
  </div>

  <input type="submit" value="Salvar Bairro" class="btn btn-primary" ng-disabled="form.$invalid">
</form>
