<page-header titulo="Bairros"></page-header>

<div class="actions clearfix">
  <a href="/bairros/novo" class="btn btn-primary pull-right">Criar Bairro</a>
</div>

<div ng-include="'bairros/filter.html'"></div>

<div ng-show="bairros.length">
  <pagination page="page" query-cache="queryCache" submeter-pesquisa="submeterPesquisa" />

  <div class="panel panel-default">
    <div class="panel-heading">Bairros</div>
    <table class="table table-striped data-table">
      <thead>
        <tr>
          <th>Município</th>
          <th>Código do Bairro</th>
          <th>Nome do Bairro</th>
          <th>Código na Prefeitura</th>
          <th>Ativo</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr id="bairro_{{bairro.id}}" class="bairro" ng-repeat="bairro in bairros">
          <td>{{bairro.municipio.nome}}</td>
          <td>{{bairro.codigo}}</td>
          <td>{{bairro.nome}}</td>
          <td>{{bairro.codigo_prefeitura}}</td>
          <td class="bairro_ativo"><span yes-no="bairro.ativo"></span></td>
          <td><a class="btn btn-info" ng-href="/bairros/{{bairro.id}}/editar"><i class="fa fa-pencil-square-o"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
