<form-errors form-errors="$parent.formErrors"></form-errors>

<form ng-submit="submeter()" class="form-horizontal" name="form" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">Dados</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="cliente_tipo_descricao" class="control-label col-md-3">Descrição <span class="required">*</span></label>
        <div class="col-md-8">
          <input id="cliente_tipo_descricao" ng-model="cliente_tipo.descricao" type="text" class="form-control" required maxlength="50">
        </div>
      </div>

      <div class="form-group">
        <label for="cliente_tipo_pessoa_tipo" class="control-label col-md-3">Tipo <span class="required">*</span></label>
        <div class="col-md-8">
          <select id="cliente_tipo_pessoa_tipo" ng-model="cliente_tipo.pessoa_fisica_juridica" class="form-control" required>
            <option value="">Selecione o tipo...</option>
            <option ng-repeat="tipo in pessoaTipos" value="{{tipo.id}}">{{tipo.descricao}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="cliente_tipo_esfera_poder_id" class="control-label col-md-3">Esfera de Poder <span class="required">*</span></label>
        <div class="col-md-8">
          <select id="cliente_tipo_esfera_poder_id" ng-model="cliente_tipo.esfera_poder_id" class="form-control" required>
            <option value="">Selecione a esfera de poder...</option>
            <option ng-repeat="esfera in esferasPoder" value="{{esfera.id}}">{{esfera.descricao}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="cliente_tipo_ativo" class="control-label col-md-3">Ativo</label>
        <div class="col-md-8">
          <input id="cliente_tipo_ativo" type="checkbox" ng-model="cliente_tipo.ativo" ng-true-value="1" ng-false-value="2">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <submit-button value="'Salvar Tipo de Cliente'" form="form"></submit-button>
    </div>
  </div>
</form>
