<form-errors form-errors="$parent.formErrors"></form-errors>

<form ng-submit="submeter()" class="form-horizontal" name="form" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">Dados</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="endereco_referencia_descricao" class="control-label col-md-3">Descrição <span class="required">*</span></label>
        <div class="col-md-8">
          <input id="endereco_referencia_descricao" ng-model="endereco_referencia.descricao" type="text" class="form-control"  maxlength="20" required>
        </div>
      </div>

      <div class="form-group">
        <label for="endereco_referencia_descricao_abreviada" class="control-label col-md-3">Descrição abreviada<span class="required">*</span></label>
        <div class="col-md-8">
          <input id="endereco_referencia_descricao_abreviada" ng-model="endereco_referencia.descricao_abreviada" type="text" class="form-control" maxlength="18" required>
        </div>
      </div>

      <div class="form-group">
        <label for="endereco_referencia_ativo" class="control-label col-md-3">Ativo</label>
        <div class="col-md-8">
          <input id="endereco_referencia_ativo" type="checkbox" ng-model="endereco_referencia.ativo" ng-true-value="1" ng-false-value="2">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <input type="submit" value="Salvar Endereço de Referência" class="btn btn-primary" ng-disabled="form.$invalid">
    </div>
  </div>
</form>
