<form-errors form-errors="$parent.formErrors"></form-errors>

<form ng-submit="submeter()" class="form-horizontal" name="form" novalidate>
  <div class="panel panel-default">
    <div class="panel-heading">Dados</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="ramo_atividade_codigo" class="control-label col-md-3">Código <span class="required">*</span></label>
        <div class="col-md-8">
          <input type="number" max="32767" id="ramo_atividade_codigo" ng-model="ramo_atividade.codigo" type="text" class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="ramo_atividade_descricao" class="control-label col-md-3">Descrição <span class="required">*</span></label>
        <div class="col-md-8">
          <input id="ramo_atividade_descricao" ng-model="ramo_atividade.descricao" type="text" class="form-control" required>
        </div>
      </div>

      <div class="form-group">
        <label for="ramo_atividade_ativo" class="control-label col-md-3">Ativo</label>
        <div class="col-md-8">
          <input id="ramo_atividade_ativo" type="checkbox" ng-model="ramo_atividade.ativo" ng-true-value="1" ng-false-value="2">
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <input type="submit" value="Salvar Ramo de Atividade" class="btn btn-primary" ng-disabled="form.$invalid">
    </div>
  </div>
</form>
