<div class="alert alert-success" ng-show="flash.getMessage()">{{flash.getMessage()}}</div>

<header class="with_actions">
  <h1>CEPs</h1>

  <nav class="actions">
    <a href="/ceps/novo" class="btn btn-primary">Criar CEP</a>
  </nav>
</header>

<div class="panel panel-default panel-filter">
  <form ng-submit="pesquisar()" class="form-inline">
    <div class="panel-body">
      <div class="form-group">
        <input name="cep_cdcep" ng-model="query.cep_cdcep" type="text" class="form-control" placeholder="CEP">
      </div>

      <div class="form-group">
        <select style="width: 200px" id="cep_tipo_id" ng-model="query.cept_id" class="form-control">
          <option value="">Tipo de CEP</option>
          <option ng-repeat="tipo in cepTipos" value="{{tipo.id}}">{{tipo.descricao}}</option>
        </select>
      </div>

      <div class="form-group">
        <select id="cep_municipio_id" ng-model="query.cep_nmmunicipio" class="form-control">
          <option value="">Município</option>
          <option ng-repeat="municipio in municipios">{{municipio.nome}}</option>
        </select>
      </div>

      <div class="form-group">
        <select id="cep_uf" ng-model="query.cep_dsufsigla" class="form-control">
          <option value="">UF</option>
          <option ng-repeat="estado in unidade_federacoes" value="{{estado.sigla}}">{{estado.sigla}} - {{estado.descricao}}</option>
        </select>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Bairro">
      </div>

      <div class="form-group">
        <select style="width: 200px" id="cep_tipo_logradouro" ng-model="query.cep_dslogradourotipo" class="form-control">
          <option value="">Tipo de logradouro</option>
          <option ng-repeat="tipo in tipo_logradouros">{{tipo.descricao}}</option>
        </select>
      </div>

      <div class="form-group">
        <input type="text" size="47" class="form-control" placeholder="Logradouro">
      </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-left">
        <button class="btn btn-primary">Pesquisar</button>
        ou
        <button class="btn btn-default">Resetar filtros</button>
      </div>

      <div class="pull-right">Total de resultados: {{ceps.length}}</div>
    </div>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th>CEP</th>
      <th>Tipo</th>
      <th>Município</th>
      <th>Estado</th>
      <th>Tipo Logradouro</th>
      <th>Logradouro</th>
      <th>Bairro</th>
      <th>Ativo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cep in ceps" class="cep">
      <td>{{cep.codigo}}</td>
      <td>{{cep.cep_tipo.descricao}}</td>
      <td>{{cep.municipio}}</td>
      <td>{{cep.uf}}</td>
      <td>{{cep.tipo_logradouro}}</td>
      <td>{{cep.logradouro}}</td>
      <td>{{cep.bairro}}</td>
      <td class="cep_ativo"><span yes-no="cep.ativo"></span></td>
      <td><a class="btn btn-info" href="/ceps/{{cep.id}}/editar">Editar</a></td>
    </tr>
  </tbody>
</table>
