<div class="alert alert-success" ng-show="flash.getMessage()">{{flash.getMessage()}}</div>

<header class="with_actions">
  <h1>CEPs</h1>

  <nav class="actions">
    <a href="/ceps/novo" class="btn btn-primary">Criar CEP</a>
  </nav>
</header>

<table class="table">
  <thead>
    <tr>
      <th>CEP</th>
      <th>Tipo</th>
      <th>Município</th>
      <th>Estado</th>
      <th>Tipo Logradouro</th>
      <th>Logradouro</th>
      <th>Bairro</th>
      <th>Ativo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cep in ceps" class="cep">
      <td>{{cep.codigo}}</td>
      <td>{{cep.cep_tipo.descricao}}</td>
      <td>{{cep.municipio}}</td>
      <td>{{cep.uf}}</td>
      <td>{{cep.tipo_logradouro}}</td>
      <td>{{cep.logradouro}}</td>
      <td>{{cep.bairro}}</td>
      <td class="cep_ativo"><span yes-no="cep.ativo"></span></td>
      <td><a href="/ceps/{{cep.id}}/editar">Editar</a></td>
    </tr>
  </tbody>
</table>
