@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");
html{
  height: 100%;
}

body{
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #676a6c;
  overflow-x: hidden;
  height: 100%;
  background: white;
}

#wrapper {
  min-height: 100%;
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
}

.main {
  margin-bottom: 60px;
  padding-bottom: 60px;
}
.main .page-header img.page-header-right{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}

.data-table tbody tr td{
  padding: 20px 5px 20px 5px;
  text-align: center;
}

.data-table thead tr th{
  text-align: center;
}
