form span.required {
  color: red;
}

input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
  border: 1px solid red;
}

.panel-filter .form-group{
  margin-top: 10px;
  margin-left: 14px
}