form span.required {
  color: red;
}

input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
  border: 1px solid red;
}

.panel-filter .form-group{
  margin-top: 10px;
  margin-left: 14px
}

.table-scroll{
  overflow: auto;
  height: 300px;
}

form.filter .ui-select-container  {
  min-width: 300px;
}

form.filter .ui-select-container button {
  text-align: left;
}

form table.destroyable_list tr.destroyed {
  background: #aaa;
  color: white;
}

form table td.actions {
  text-align: right;
}
