#main_header {
  border-bottom: 1px solid #CCD6EB;
  margin-bottom: 20px;
}

#main_header  h1 {
  display: inline;
  vertical-align: middle;
  color: #777777;
  font-size: 18px;
}

#logo {
  width: 75px;
}

header.with_actions h1 {
  display: inline-block;
}

header.with_actions nav {
  float: right;
  margin-top: 20px;
}
