#main-header {
  background: #1659BF;
  padding: 20px 0 20px 0;
}

#main-header  h1 {
  display: inline;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
}

#main-header .nav-user{
  margin: 10px 0 0 0;
  text-align: center;
}

#main-header .nav-user li a.nav-user-main{
  color: #fff;
}

#main-header .nav-user li a:hover, .nav-user li a:focus{
  background: transparent;
}

#main-header .nav-user .open > a, .nav-user .open > a:hover, .nav-user .open > a:focus {
    background-color: transparent;
    border-color: #337ab7;
}

header.with-actions h1 {
  display: inline-block;
}

header.with-actions nav {
  float: right;
  margin-top: 20px;
}

.header-user-settings{
  border-left: 1px solid #1F457A;
  height: 60px;
}