section#modulos article .panel {
  display: table;
  width: 100%;
  cursor: pointer;
  padding: 5px;
}

section#modulos article .panel.disabled {
  cursor: auto;
  color: #ccc;
}

section#modulos article .panel.disabled:hover {
  background-color: #e0e0e0;
  color: #999;
}

section#modulos article .panel:hover {
  background-color: #286090;
  color: white;
}

section#modulos article .panel div {
  display: table-cell;
  height: 200px;
  vertical-align: middle;
  text-align: center;
}

section#modulos article.small .panel div {
  display: table-cell;
  height: 120px;
  vertical-align: middle;
  text-align: center;
}
